body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

.soundboard {
    margin-top: 40px;
    display : grid;
    grid-template-colums:repeat(auto-fill, minmax(150px, 1fr));
    gap: 15px;
    max-width: 800px;
    margin-left:auto;
    margin-right: auto;
}

button {
    background-color: #1db954;
    border: none;
    padding: 20px 25px;
    margin: 10px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #17a74a;
}

