body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 30px;
}


.soundboard {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;

    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}


button {
    background-color: #1db954;
    border: none;

    height: 80px;
    width:100%;
    padding: 10px;

    font-size: 14px;
    border-radius: 12px;
    cursor: pointer;

    white-space: normal;
    word-break: break-word;
    line-height: 1.2;
}

@media (max-width: 800px) {
    .soundboard {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 500px) {
    .soundboard {
        grid-template-columns: repeat(2, 1fr);
    }
}

.volume-control {
    margin: 20px auto;
    text-align: center;
}

.volume-control label {
    margin-right: 10px;
    font-size: 14px;
}

.volume-control input[type="range"] {
    width: 220px;
}


