body {
    background-color: #121212;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

.soundboard {
    margin-top: 40px;
    display : grid;
    grid-template-colums:repeat(auto-fill, 140px);
    gap: 15px;
    justify-content : center;
}

button {
    background-color: #1db954;
    border: none;
    padding: 12px;
    height: 70px;
    font-size: 14px;
    margin: 10px;
    font-size: 18px;
    border-radius: 12px;
    cursor: pointer;
    white-space: normal;
}

button:hover {
    background-color: #17a74a;
}

